/Spring/Projects/SpringRabbitmq/.idea/.gitignore
/Spring/Projects/SpringRabbitmq/.idea/ChatGPTCopilotChannelManager.xml
/Spring/Projects/SpringRabbitmq/.idea/misc.xml
/Spring/Projects/SpringRabbitmq/.idea/modules.xml
/Spring/Projects/SpringRabbitmq/.idea/SpringRabbitmq.iml
/Spring/Projects/SpringRabbitmq/.idea/vcs.xml
